body {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}